{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Notes Sharing{% endblock page_title %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Subject</th>
              <th>Topic</th>
              <th>Uploaded File</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ note.subject }}</td>
              <td>{{ note.topic }}</td>
              <td>
                <a href="{{ note.notes_file.url }}" target="_blank">{{ note.notes_file.name }}</a>
              </td>
              <td>
                <a href="{% url 'download_note' note.id %}" class="btn btn-primary btn-sm">Download</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
