{% extends 'school/teacherbase.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>
<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Notes Management</h6>
      </div>

      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Action</th>
            <th>Description</th>
          </tr>
        </thead>

        <tr>
          <td><a class="btn btn-primary btn-xs" href="{% url 'teacher-upload-notes' %}">Upload Notes</a></td>
          <td>Click to upload notes</td>
        </tr>

        <tr>
          <td><a class="btn btn-success btn-xs" href="{% url 'teacher-view-notes' %}">View Uploaded Notes</a></td>
          <td>Click to view uploaded notes</td>
        </tr>

      </table>
    </div>
  </div>
</div>
{% endblock content %}
